extends layout
block vars
 - var title = "UNO"

block content
  h1= title
  center
   h1 Welcome to UNO
   hr
   br
   form(action="/UNOBoard" method="POST")
    div.registerForm
     |User ID:&nbsp;
     input(type="email" name="emailId" placeholder="Enter your email-id" required)
    div.registerForm
     |Name:&nbsp;
     input(type="name" name="name" placeholder="Enter your name" required)
    br
    input(type="submit" value="Play" class="registerLoginButton")