extends layout
block vars
 - var title = "UNO"

block content
  h1= title
  center
   h1 Welcome to UNO
   hr
   br
   a(href="/register" class="registerLoginLink") Register
   a(href="/login" class="registerLoginLink") Login
   