extends layout
block vars
 - var title = "UNO"

block content
  center
   h1 Welcome to UNO
   hr
   br
   a(href="/register" class="registerLoginLink") Register
   |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   a(href="/login" class="registerLoginLink") Login
   br
   br
   br
   br
   a(href="/introduction" class="introductionLink") Introduction