block vars
 - var title = "UNO - Introduction"

block content
 center
  br
  br
  br
  br
  br
  h1 Introduction
  hr
  p 
  |1. UNO is a card game. It has four coloured cards-red,green,yellow and blue
  p
  |2. All colour cards contain number cards from 0-9, skip,+2 and reverse card
  p
  |3. In uno there are some special cards +4 and wild card
  p
  |4. If a player puts a number card then other player can put only any same colour card, same value card of any colour or any special card
  p
  |5. Skip card's mean next player can not play his game at this turn, +2 means next player has to take two cards from the stack of cards
  p
  |6. After putting +4 or wild card player can change next card's colour
  p
  |7. If a player puts +4 card next player will take 4 cards from stack.
  br
  br
  div(id="UNOcard")
   img(src="./Unocard PIcs/Y_S_2.jpg" title="skip card")
   img(src="./Unocard PIcs/R_P_1.jpg" title="plus two")
   img(src="./Unocard PIcs/B_R_2.jpg" title="reverse card")
   img(src="./Unocard PIcs/W_4_3.jpg" title="plus four")
   img(src="./Unocard PIcs/W_0_1.jpg" title="wild card")
  br
  br

  a(href="/" class="introductionLink") Go on HomePage