extends layout
block vars
 - var title = "UNO - Register"

block content
 center
  h1 Register
  hr
  form(action="/register" method="POST")
    div.registerForm
     |Email:&nbsp;
     input(type="email" name="email" placeholder="Enter your email-id" required)
    div.registerForm
     |User Name:&nbsp;
     input(type="name" name="user_name" placeholder="Enter your name" required)
    div.registerForm
     |Password:&nbsp;
     input(type="password" name="password" placeholder="Enter your password" required)
     br
     br
     input(type="submit" value="Play" class="playButton")