extends layout
block vars
 - var title = "UNO Board"
block scripts
   script(type= "text/javascript" src= "/javascript/jquery-2.1.1.min.js")
   script(type ="text/javascript" src ="/javascript/handleSocket.js")
   script(type ="text/javascript" src ="/javascript/socket.io.js")
block content
 center
  form(action="/UNOBoard" method="POST")
   table(border="0px solid")
    tr
     td
     td(align="center")
      div(id="mDiv3")
     td
    tr
     td(align="center")
      div(id="mDiv4")
     td
      center
       div(class="board")
        h4 
        img(src="./Unocard PIcs/UNO.jpg" class="boardImg" title="Take card from here.")
        img(src="./Unocard PIcs/#{startCard}.jpg" class="boardImg"  title="Put card here.")
     td(align="center")
      div(id="mDiv2")
    tr
     td(colspan=3)
      div(id="mDiv")
   br
   input(type="submit" value="Start" class="playButton"  title="Click here to start game.")