body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a:link {
  border-radius: 35px;
  color: #491c0c;
  border: 1px solid #a1a1a1;
  padding: 10px 40px;
    color: #FF0000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #00FF00;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: silver;
    text-decoration: none;
    background: maroon;
}

/* selected link */
a:active {
    color: #0000FF;
    text-decoration: none;
}

b{
	font-size: 20px;
}

.registerLoginLink {
  color: black;
  font-family: "Lucida Grande";
  font-size: 20px;
}

.registerForm {
  color: black;
  font-family: "Lucida Grande";
  font-size: 20px;
  margin-left: 1%
}

.playButton {
  color: black;
  font: 10px;
  font-family: "Arial black";
  width: 7%;
  margin-left: 10%;
}
.board{
  height: 380px;
  width: 600px;
}

.boardImg{
  padding: 12%;
  position: relative;
  height: 45%;
  width: 17%;
}

#mDiv{
  height: 110px;
}

.cardImg{
  padding: 5px;
  position:relative;
  height:100px;
  width:60px;
} 
.cardImg:hover{
  position:relative;
  height:115px;
  width:70px;
  box-shadow: 10px 10px 10px #888888;
}
