body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a:link {
  border-radius: 35px;
  color: #491c0c;
  border: 1px solid #a1a1a1;
  padding: 10px 40px;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #0B2161;
   text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #0B0B3B;
  text-decoration: none;
  background: #2ECCFA;
}

/* selected link */
a:active {
  color: #0000FF;
  text-decoration: none;
}

b{
	font-size: 20px;
}

.registerLoginLink {
  color: black;
  font-family: "Lucida Grande";
  font-size: 20px;
}

.registerForm {
  color: black;
  font-family: "Lucida Grande";
  font-size: 20px;
  margin-left: 1%
}

.playButton {
  color: black;
  font: 10px;
  font-family: "Arial black";
  width: 7%;
  margin-left: 10%;
}
.board{
  height: 380px;
  width: 600px;
}

.boardImg{
  padding: 12%;
  position: relative;
  height: 45%;
  width: 17%;
}

#mDiv{
  height: 110px;
}

#mDiv2{
  width: 110px;
}

#mDiv3{
  height: 110px;
}

#mDiv4{
  width: 110px;
}

.cardImg1{
  margin-right: -15px;
  padding: 5px;
  position:relative;
  height:100px;
  width:60px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
} 

.cardImg2{
  margin-top: -55px;
  height:100px;
  width:60px;
  -webkit-transform: rotate(285deg);
  -moz-transform: rotate(285deg);
  -o-transform: rotate(285deg);
  -ms-transform: rotate(285deg);
  transform: rotate(285deg);
}

.cardImg3{
  margin-right: -15px;
  padding: 5px;
  position:relative;
  height:100px;
  width:60px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
} 

.cardImg4{
  margin-top: -55px;
  height:100px;
  width:60px;
  -webkit-transform: rotate(105deg);
  -moz-transform: rotate(105deg);
  -o-transform: rotate(105deg);
  -ms-transform: rotate(105deg);
  transform: rotate(105deg);
}

.cardImg1:hover{
  position:relative;
  height:115px;
  width:70px;
  box-shadow: 10px 10px 10px #888888;
}
.cardImg2:hover{
  position:relative;
  height:115px;
  width:70px;
  box-shadow: 10px 10px 10px #888888;
}

.cardImg3:hover{
  position:relative;
  height:115px;
  width:70px;
  box-shadow: 10px 10px 10px #888888;
}

.cardImg4:hover{
  position:relative;
  height:115px;
  width:70px;
  box-shadow: 10px 10px 10px #888888;
}
