body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

b{
	font-size: 20px;
}

.registerForm {
  color: black;
  font-family: "Lucida Grande";
  font-size: 20px;
}

.registerLoginButton {
  color: black;
  font: 15px;
  font-family: "Arial Black";
  width: 10%;
  margin-left: 10px;
}

.board{
  height: 450px;
  width: 500px;
  background: yellow;
}

#mDiv{
  background: silver;
}